body {
  font-family: $body-font;
}

html,
body,
.layout {
  height: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
}
main {
  flex: 1 0 auto;
  min-height: 80vh;
}
.footer {
  flex-shrink: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font;
}

.alternateBackground {
  background-color: $blue-light;
}

p {
  line-height: 1.6;
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
}

.subtitle {
  line-height: 1.6;
}

.cta-link {
  padding-top: 1.5rem;

  a {
    font-size: 1.25rem;
    font-weight: bold;
    text-decoration: underline;
  }

  .icon {
    margin-left: 0.5rem;
    color: $blue;
  }
}

.container {
  &__large-margins {
    max-width: 720px;
  }
}

.donation-currency-input {
  border: none !important;
  color: #313ebd;
  font-weight: bold;
  font-size: 1.25rem !important;

  &:focus,
  &:active,
  &:hover {
    border: none !important;
  }
}

section.single-page {
  &__basic {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }
}

.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}
