html,
body,
.layout {
  height: 100%;
}

.body {
}

.layout {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
  min-height: 80vh;
}

.footer {
  flex-shrink: 0;
}

.alternateBackground {
  background-color: $gray-bg;
}

.alternateBackgroundLight {
  background-color: $off-white;
}

.container {
  &__large-margins {
    max-width: 720px;
  }
}

.primary-section {
  padding-top: 3rem;
  padding-bottom: 3rem;

  @include from($tablet) {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  @include from($desktop) {
    padding-top: 9rem;
    padding-bottom: 9rem;
  }
}

.section-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  @include from($desktop) {
    font-size: 3.5rem;
    margin-bottom: 1.5rem;
  }
}

.donation-currency-input {
  border: none !important;
  color: $blue;
  font-weight: bold;
  font-size: 1.25rem !important;

  &:focus,
  &:active,
  &:hover {
    border: none !important;
  }
}

section.single-page {
  &__basic {
    padding-top: 9rem;
    padding-bottom: 6rem;
  }
}

.v-lazy-image {
  filter: blur(10px);
  transition: filter 0.7s;
}

.v-lazy-image-loaded {
  filter: blur(0);
}

.email-signup-modal {
  .modal-content {
    overflow: visible;
  }
}

.button {
  @include box_shadow(2);
}

body.has-navbar-fixed-top {
  padding-top: $navbar-height;
}

.largeMargins {
  max-width: 720px;
  margin: auto;
}
