@charset "utf-8";

// You can input your own styles here before you import Bulma
// See [this page](https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles)
// Also, for a list of customizable variables, reference [this page](https://bulma.io/documentation/customize/variables/)

// Colors
$white: #fff;
$black: #16162c;
$gray-dark: lighten($black, 10%);

$blue: #313ebd;
$blue-light: #f5f5fc;
$coral: #ff564a;
$green: #009f32;
$green-light: #d6fde2;

$primary: $blue;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

$border-radius-global: 6px;
