@charset "utf-8";

// You can input your own styles here before you import Bulma
// See [this page](https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles)
// Also, for a list of customizable variables, reference [this page](https://bulma.io/documentation/customize/variables/)

// Colors
$white: #fff;
$black: #16162c;
$gray-dark: lighten($black, 10%);

$blue: #313ebd;
$blue-light: #f5f5fc;
$coral: #ff564a;
$green: #009f32;
$green-light: #d6fde2;

$primary: $blue;

// Fonts
$heading-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;

// Grid vars to match buefy defaults
$grid-medium: 769px;
$grid-large: 1024px;
$grid-widescreen: 1408px;
$grid-gutter: 30px;

$small: 'small';
$medium: 'medium';
$medium-down: 'medium-down';
$medium-up: 'medium-up';
$large: 'large';
$large-down: 'large-down';
$large-up: 'large-up';
$widescreen: 'widescreen';

// The `$breakpoints` list is used to build our media queries.
// You can use these in the media-query mixin.
$breakpoints: (
  $small '(max-width: #{$grid-medium - 1})',
  $medium '(min-width: #{$grid-medium}) and (max-width: #{$grid-large - 1})',
  $medium-down '(max-width: #{$grid-large - 1})',
  $medium-up '(min-width: #{$grid-medium})',
  $large '(min-width: #{$grid-large}) and (max-width: #{$grid-widescreen - 1})',
  $large-down '(max-width: #{$grid-widescreen - 1})',
  $large-up '(min-width: #{$grid-large})',
  $widescreen '(min-width: #{$grid-widescreen})'
);