@charset "utf-8";

// You can input your own styles here before you import Bulma
// See [this page](https://bulma.io/documentation/customize/with-node-sass/#6-add-your-own-bulma-styles)
// Also, for a list of customizable variables, reference [this page](https://bulma.io/documentation/customize/variables/)

// Colors
$white: #fff;
$black: #181818;

$gray: #b2b2b5;
$gray-dark: #7e7e83;
$gray-light: #d8d8dd;
$gray-logo: #394a59;
$gray-bg: #e6edeb;
$off-white: #f7f9f8;

$blue: #2869e5;
$blue-light: #f5f5fc;
$coral: #ff564a;
$orange: #ea8757;
$red: #c25153;
$trace-green: #3d9c76;
$green: #009f32;
$green-light: #d6fde2;

$blue-gradiant: linear-gradient(45deg, #0f119b 0%, #0a79ff 100%);

$primary: $blue;

// Fonts
$heading-font: 'Helvitica Neue', sans-serif;
$heading-font-weight: 300;

$body-font: 'Helvitica Neue', sans-serif;
$body-font-weight: 300;

$border-radius-global: 6px;

$navbar-height: 4.5rem;
